@charset "UTF-8";
/* CSS Document */
* {
	  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */
	  -webkit-tap-highlight-color: rgba(0,0,0,0); 
	  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
	  -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
#divFrame {
	position: relative;
	height: 700px;
	width: 1070px;
	background-image: url(../images/BckgWood.jpg);
	z-index: 10;
	
  /*  -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
  */
}
/*#divFrame.fade-out
{
	opacity:0.5;
}
#divFrame.fade-in
{
	opacity:1;
}
*/

#foreground {
    position: absolute;
    top: 0;
    left: 0;
    z-index:100;
    opacity:0;
    pointer-events: none;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
}
#foreground.foreground-out
{
	opacity:0;
}
#foreground.foreground-in
{
	opacity:0.6;
}
        
#divCompass1 {
	position: absolute;
	left: 340px;
	bottom: 4px;
	z-index: -1;
}
#divCompass2 {
	position: absolute;
	right: 340px;
	bottom: 4px;
	z-index: -1;
}
#divHorizon {
	position: absolute;
	left: 106px;
	bottom: 4px;
	z-index: -1;
}
#divSpeed {
	position: absolute;
	right: 106px;
	bottom: 4px;
	z-index: -1;
}
#divThermoL {
	position: absolute;
	left: 10px;
	bottom: 8px;
	z-index: -1;
}
#divThermoR {
	position: absolute;
	right: 10px;
	bottom: 8px;
	z-index: -1;
}
#divBattL {
	position: absolute;
	left: 13px;
	top: 18px;
	z-index: -1;
}
#divBattR {
	position: absolute;
	right: 13px;
	top: 18px;
	z-index: -1;
}
#divClock {
	position: absolute;
	left: 943px;
	top: 0px;
	visibility: hidden;
}
#divGpsPos {
	position: absolute;
	left: 130px;
	top: 18px;
	z-index: -1;
  width: 356px;
  height: 36px;
  background-image: url(../images/Box2.png);
}
#divGpsInfo {
	position: absolute;
	right: 128px;
	top: 18px;
  width: 356px;
  height: 36px;
	z-index: -1;
  background-position:center;
  background-image: url(../images/Box2.png);
}
#divLeftMotor {
	position: absolute;
	left: 15px;
	top: 74px;	
  width: 175px;
	z-index: -1;
  background-image: url(../images/Box1.png);
}
#divRightMotor {
	position: absolute;
	right: 10px;
	top: 74px;	
  width: 175px;
	z-index: -1;
  background-image: url(../images/Box1.png);
}
#divLed1 {
	position: absolute;
	right: 110px;
	bottom: 5px;
	z-index: -1;
}
#divStream {
	position: absolute;
	left: 210px;
	bottom: 152px;
	z-index: -1;
}
#divStreamInfo {
	position: absolute;
	left: 240px;
	bottom: -7px;
	font-size:12px;
	color: #FF0;
}
#divSwitch {
	position: absolute;
	left: 30px;
	bottom: 270px;
	z-index: 1;
	font: 6px/14px sans-serif;
	font-weight: bold; 
}
#divSlider {
	position: absolute;
	left: 30px;
	top: 290px;
	z-index: 2;
	text-align: center;
	font: 13px/1px sans-serif; 
	font-weight: bold; 
	color: #666; 
}

/*
#joyCanvasL {
	position: absolute;
	left: 13px;
	bottom: 280px;
	z-index: -1;
}
#joyCanvasR {
	position: absolute;
	left: 842px;
	bottom: 280px;
	z-index: -1;
}
*/
